@using TicketManagement.WebApplication.Models.Purchase
@model List<PurchaseViewModel>

@foreach (var p in @Model)
{
    <partial name="_PurchasedSeats" model="@p.PurchasedSeats" />
    <h5>@Localizer[$"Total price: {@p.Price:c}"]</h5>
}
