@using Microsoft.AspNetCore.Mvc.TagHelpers

<h1>@Localizer["Add funds to account"]</h1>
<hr />

@{
    var balance = (decimal)ViewBag.Balance;
}

<div>
    <form asp-action="AddFunds" asp-antiforgery="true" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="w-25">
            <div class="form-group">
                <label class="control-label">@Localizer["Current balance: {0}", balance.FormatPrice()]</label>
            </div>
            <input type="hidden" value="100" name="amount" />
            <div class="mt-5">
                <input type="submit" value="@Localizer["Add {0}", 100m.FormatPrice()]" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}