@using TicketManagement.WebApplication.Models.VenueManagement
@model LayoutViewModel

<h1>@Localizer["Create layout"]</h1>
<hr />

<div>
    <form asp-action="CreateLayout">
        <input asp-for="VenueId" type="hidden" value="@Model.VenueId" />

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="w-25">
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="mt-2">
                <input type="submit" value="@Localizer["Submit"]" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>
