@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-danger">
    <h1 class="text-danger">@Localizer["Error."]</h1>
    <h3 class="text-danger">@Localizer["An error occurred while processing your request."]</h3>
</div>