@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-danger">
    <h1>@Localizer["Validation error"]</h1>
    <h3>@Localizer[ViewData["ValidationError"]!.ToString()!]</h3>
</div>

