@using TicketManagement.WebApplication.Models.Event
@model EventListViewModel

<h1>@Localizer["List of events"]</h1>

<p>
    <a asp-action="Create">@Localizer["Create"]</a>
</p>

<partial name="_EventList" model="@Model.Events" />

<div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" class="btn-group pull-right m-1">
</div>
