@using TicketManagement.WebApplication.Models.Layout
@model IEnumerable<LayoutViewModel>

<select id="layout" name="Layout" class="form-select">
    @foreach (var item in Model)
    {
        <option value=@item.Id>@item.Description</option>
    }
</select>
