html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.seat {
    width: 55px;
    height: 55px;
    background-color: lightgray;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    color: white;
}

.row {
    display: table;
    width: 100%;
    border-spacing: 10px;
}

.column {
    display: table-cell;
    width: 10px;
    height: 10px;
    color: white;
}

.column-fit-content {
    display: table-cell;
    width: fit-content;
    height: fit-content;
    color: white;
}